<p>todolist works!</p>

<ul *ngFor="let item of task">
    <li>{{item.task_title}}; <span (click)="getOneTask(item)">|||GET ONE|||</span></li>
</ul>

<div>
    <p>
        ID: {{selectedTask.id}}<br>
        Task Title: <input type="text" [(ngModel)]="selectedTask.task_title"><br>
        Done: <input type="checkbox" [(ngModel)]="selectedTask.task_completion"><br>
        Created at: {{selectedTask.task_created_at}}<br>
        Updated at: {{selectedTask.task_updated_at}}<br>
    </p>
    <br>
    <button (click)="editTask()">PUT</button>
    <button (click)="createTask()">POST</button>
    <button (click)="deleteTask()">DEL</button>
</div>